:root {
  --background-color: #030303;
  --scrollbar-foreground: #dddddd77;
  --scrollbar-background: #00000000;
}

html, body{
  margin: 0;
  font-family: 'Cinzel', sans-serif;
  background-color: var(--background-color);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;

  overscroll-behavior-y: none;

  height: 100%;

  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-foreground);
}